<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJu_wgFfwkD009qM4MU_SVxUnk_bI-fqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>301767101320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterLoginExercise.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>latihan-f45e3</string>
	<key>STORAGE_BUCKET</key>
	<string>latihan-f45e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301767101320:ios:1033605d90c05e607fc83d</string>
</dict>
</plist>